*{
    padding: 0;
    margin: 0;
}
body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: var(--color-gray-light-3);
}
/* CSS for header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f7f8;
  padding-left:200px;
}
.header .logo {
  font-size: 25px;
  font-family: 'Sriracha', cursive;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #000;
  padding: 35px 20px;
}
/* menu bar */
#menu{
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-family:'Raleway', Arial, sans-serif ;
  }
  #menu li{
    display: inline-block;
    list-style: none;
    margin: 0 1.5em;
    padding: 0;
  }
  #menu li a{
    padding: 0.5em 0;
    color:#070202;
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
  }
  #menu li a::before,
  #menu li a::after{
    position: absolute;
    transition: all 0.35s ease;
  }
  #menu li a::before{
    content: "";
    display: block;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: #ffffff;
  }
  #menu li a::after{
    content: attr(data-hover);
    left: 0;
    top: 0;
    padding: 0.5em 0;
    color:#0c0101;
    white-space: nowrap;
    max-width: 0%;
    position: absolute;
    overflow: hidden;
  }
  #menu  a:hover::before,
  #menu .active a::before{
    opacity: 1;
    width: 100%;
  }
  #menu li a:hover::after,
  #menu .active a::after{
    max-width: 100%;
  }
 
 /* CSS for main section */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("/images/cv.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro h1 {
  font-family:  'Lucida Grande';
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.intro p {
  font-size: 20px;
  color: #d1d1d1;
  text-transform: uppercase;
  margin: 20px 0;
}

.intro button {
  background-color: #5edaf0;
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
}

.achievements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;
}

.achievements .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.achievements .work i {
  width: fit-content;
  font-size: 50px;
  color: #333333;
  border-radius: 50%;
  border: 2px solid #333333;
  padding: 12px;
}

.achievements .work .work-heading {
  font-size: 20px;
  color: #333333;
  text-transform: uppercase;
  margin: 10px 0;
}

.achievements .work .work-text {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #f8f5f5;
}

.about-me img {
  width: 100px;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-left:2em;
}

.about-me-text h2 {
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.about-me-text p {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

