*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(/images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}
#logo{
    width: 30px;
    height:30px;
    margin-left:10%;
    margin-top: 15px;
    margin-bottom:10px;
}
.navigation{
    float: right;
    margin-top:30px;
    margin-bottom: 30px;
    
}
.navigation > a{
    text-decoration: none;
    border: 2px white solid;
    margin:10px;
    color: beige;
    padding: 8px;
    /*border-radius: 20px;*/
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navigation > a:hover{
background-color: azure;
color: black;
transform: 5%;
}

#header{
    background-color: black;
}
